<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles_footer.css">
</head>
<body>
    <footer>
        <ul type = "none" class="footer_links">
            <li><a href = "" target = "_blank">Contacto</a></li>   
            <li><a href = "" target = "_blank">Cómo comprar</a></li>
            <li><a href = "" target = "_blank">Preguntas frecuentes</a></li>
            <li><a href = "" target = "_blank">Política de privacidad</a></li>
        </ul>
        <div class="footer_registro_mail">
            <form action="" method="POST">
                <label for="mail">Recibí todas las novedades en tu mail!</label>
                <input type="email" name="registro_mail" id="mail">
                <button type="submit">Enviar</button>
            </form>
        </div>
        <ul type = "none" class="footer_redes_sociales">
            <li><a href = "www.facebook.com/wedostudios" target = "_blank"><img src = "/images/Facebook.png" alt = "Facebook" width="100%"></a></li>
            <li><a href = "www.instagram.com/wedostudios" target = "_blank"><img src = "/images/Instagram.png" alt = "Instagram" width="100%"></a></li>
            <li><a href = "www.twitter.com/wedostudios" target = "_blank"><img src = "/images/Twitter.png" alt = "Twitter" width="100%"></a></li>
            <li class="footer_whatsapp"><a href = "" target = "_blank"><img src = "/images/Whatsapp.png" alt = "Whatsapp" width="100%"></a></li>
            <li class="footer_youtube"><a href = "www.youtube.com.ar" target = "_blank"><img src = "/images/Youtube.png" alt = "Youtube" width="100%"></a></li>
        </ul>
        <div class="footer_copyright">
            <p>© 2021 Los Magios</p>
        </div>
    </footer>
    
</body>
</html>