<a href="/products/productDetail/<%= product.id %>">
    <article class="pl_main_product">
        
        <div class="pl_item7">            
            <img src="/images/<%= product.images[0].name %>" alt="imagen_articulo" width="100%">
        </div>
        <div class="pl_item8">
            <h6><%= product.name %></h6>
            <p>$<%= product.price %></p>
        </div>      
        
    </article>
</a>