<div class="main__product">
    <div class="item7"><img src="/images/Nikon_1.png" alt=""></div>
    <div class="item8">Cámara nikon d7500 </div>
    <div class="item9 article__cantidad1">
        <i class="fas fa-angle-left"></i>
        <div class="cantidad__box"></div>
        <i class="fas fa-angle-right"></i>
    </div>
    <div class="item10">
        <p>Valor unitario</p>
        <p>Subtotal</p>
    </div>
    <div class="item11">
        <p>$xxxx</p>
        <p>$xxxx</p>
    </div>
    <div class="item11">
        <p>$xxxx</p>
        <p>$xxxx</p>
    </div>
    <div class="item12"><i class="fas fa-trash"></i></div>
</div>