<a href="/services/serviceDetail/<%= service.id %>">
    <article class="pl_main_service">
        
        <div class="pl_item7">
            <img src="/images/<%= service.image %>" alt="imagen_articulo" width="100%">
        </div>
        <div class="pl_item8">
            <h6><%= service.name %></h6>
            <p>$<%= service.price %></p>
        </div>      
        
    </article>
</a>