<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

    <title>Document</title>
</head>
<body>

    <%- include('../partials/header') %>

    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Hola soy el profile</h1>
    <br>
    <br>
    <br>
    

    <%- include('../partials/footer') %>
    
</body>
</html>